

.App{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.App-header{
  background-color: yellowgreen;
  width: 100%;
  text-align: center;
}